/* src/components/StepperHeader/StepperHeader.scss */


/* Hide the stepper header when the overlay is active */
body.overlay-active .app-container .stepper-header {
    display: none;
}



.stepper-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #f0f4f8; /* Optional: Add a background color if desired */
  padding: 10px 0; /* Optional: Add vertical padding for better spacing */

  /* Optional: Add a transition for smoother interactions */
  transition: background-color 0.3s ease;
}

.step-container {
  display: flex;
  align-items: center;
  position: relative;

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;

    /* Active Step Styling */
    &.active .step-number {
      border: 2px solid #1890ff; /* Blue border */
      background-color: #d9d9d9;  /* Blue inside */
      color: #1890ff;                 /* Black text */
    }

    /* Completed Step Styling */
    &.completed .step-number {
      border: 2px solid #000; /* Blue border */
      background-color: #d9d9d9;  /* Gray inside */
      color: #000;                 /* Black text */
    }

    .step-number {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      color: #d9d9d9;                /* Gray text */
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5px;
      transition: border-color 0.3s, background-color 0.3s, color 0.3s;
      border: 2px dashed #d9d9d9; /* Gray border */
    }

    .step-label {
      font-size: 0.9em;
      color: #000;
      text-align: center;
      max-width: 80px;
      font-family: 'Roboto Medium', 'Helvetica Neue', sans-serif; /* Match App's Roboto font */

    }
  }

  .step-line {
    width: 50px;
    height: 2px;
    background-color: #d9d9d9;
    margin: 0 10px;
    transition: background-color 0.3s;

    /* Change line color to blue when the preceding step is completed */
    .step.completed + & {
      background-color: #1890ff; /* Blue instead of green */
    }
  }
}

