.plotly-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    max-width: 100%; /* Prevents exceeding parent width */
    max-height: 100%; /* Prevents exceeding parent height */
    padding: 0;
}


.plotly-error {
    color: red;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}
