.picker-row {
  display: flex;
  align-items: center;
  padding: 8px 5px;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;

  &:hover {
    box-shadow: 0 0 0 3px #dedede inset;
  }

  .picker-label {
    flex: 1;
    text-align: right;
    padding-right: 30px;
  }

  .picker-element {
    flex: 2;
    text-align: left;

    input[type='checkbox'] {
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  .tooltip {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    transform: translate(-50%, -100%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    pointer-events: none; /* Prevent tooltip from interfering with hover */

    max-width: 600px;
    overflow-wrap: break-word;
    text-align: center;
  }
}

.complex-picker-box {
  margin-top: 20px;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: rgba(84, 250, 36, 0.125);

  .complex-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;

    h4 {
      margin: 0;
      font-size: 1.2rem;
    }

    .description {
      font-size: 0.9rem;
      color: #666;
      text-align: left;
      margin-top: 5px;
    }
  }

  .complex-body {
    &.collapsed {
      display: none;
    }

    &.expanded {
      display: block;
    }
  }
}

