.text-field {
  min-width: 25%;
  font-size: large;
  text-align: center;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: box-shadow 0.3s, border 0.3s;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #4caf50;
  }
}