// src/components/PipelineConfigScreen/PipelineConfigScreen.scss

.pipeline-config-screen {
  padding: 20px;

  .pipeline-header {
    margin-bottom: 20px;

    h2 {
      margin-bottom: 10px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }

  .operations-container {
    margin-bottom: 20px;

    .pipeline-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 10px;

      /* Fixed Input and Output Boxes */
      .file-box {
        flex: 0 0 auto; // Prevent shrinking/growing
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #e0e0e0;
        border: 2px solid #ccc;
        border-radius: 5px;
        position: relative;

        .file-icon {
          font-size: 2rem;
          margin-bottom: 5px;
        }

        .file-name {
          font-size: 0.9rem;
          text-align: center;
          word-break: break-word;
        }
      }

      .input-box {
        background-color: #d1e7dd; /* Light green */
        border-color: #0f5132;     /* Dark green */
        margin-right: 30px;

        &:hover {
          cursor: pointer;
          background-color: #ade8ce; /* Light green */
        }
      }

      .output-box {
        background-color: #f8d7da; /* Light red */
        border-color: #842029;     /* Dark red */
        margin-left: 30px;
      }

      /* Operations Section */
      .operations-section {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
        flex-grow: 0.5;
        padding: 10px;
        border-radius: 5px;
        position: relative;
      }

      /* Arrow Styling */
      .arrow {
        flex: 0 0 auto; // Prevent shrinking/growing
        font-size: 1.5rem;
        color: #aaa;
        opacity: 1;
        transition: opacity 0.3s ease-in;

        &.show {
          opacity: 1;
        }
      }

      /* Draggable Operation */
      .draggable-operation {
        display: flex;
      }

      /* Add Operation Card */
      .add-operation-card {
        flex: 0 0 auto; // Prevent shrinking/growing
        padding: 10px 15px;
        border: 1px dashed #aaa;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: #a4a4a4;
        background: #f9f9f9;
        cursor: pointer;
        position: relative;
        transition: all 0.2s ease;

        &:hover {
          color: #797979;
          background-color: #97de9a;
          border: 1px solid #45a049;
          width: 125px;
        }

        .operation-toolbox {
          position: absolute;
          bottom: 110%;
          left: 50%;
          transform: translateX(-50%);
          background: white;
          border: 1px solid #ddd;
          border-radius: 5px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          padding: 10px;
          width: 200px;
          z-index: 1000; // Ensure it's above other elements
          display: none;
          animation: fadeIn 0.3s ease-in-out;

          /* Show toolbox when parent has hover */
          &.show {
            display: block;
          }

          @keyframes fadeIn {
            from {
              opacity: 0;
              transform: translate(-50%, 0) scale(0.95);
            }
            to {
              opacity: 1;
              transform: translate(-50%, 0) scale(1);
            }
          }

          .toolbox-item {
            padding: 8px;
            border-bottom: 1px solid #eee;
            cursor: pointer;
            position: relative;

            &:last-child {
              border-bottom: none;
            }

            &:hover {
              background-color: #f1f1f1;
              color: #45a049;
            }

            .operation-name {
              font-size: 1.1rem;
              display: block;
              margin-bottom: 3px;
            }

            .operation-description {
              display: none;
              font-size: 0.85rem;
              color: #555;
              max-width: 550px;
              word-wrap: break-word;
              white-space: normal;
              text-align: center;
            }

            &:hover .operation-description {
              display: block;
              position: absolute;
              top: 50%;
              right: 110%; /* Tooltip to the left */
              transform: translateY(-50%);
              background: #333;
              color: #fff;
              padding: 5px 10px;
              border-radius: 3px;
              z-index: 20;
              opacity: 0;
              animation: tooltipFadeIn 0.2s forwards;
            }
          }

          @keyframes tooltipFadeIn {
            to {
              opacity: 1;
            }
          }
        }
      }
    }

    .config-panel {
      margin-top: 20px;
      box-shadow: 5px 5px 5px darkgray, 0px 0px 3px inset lightgray;
      padding: 15px;
      border-radius: 5px;
      background-color: #fff;
    }

  }

  .button-container {
      border-top: 1px solid #ddd; /* Horizontal line */
      padding-top: 20px; /* Space between the line and the buttons */
      margin-top: 20px; /* Space above the line */
      display: flex;
      justify-content: space-between;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, box-shadow 0.3s;
        position: relative;

        svg {
          margin-right: 5px;
        }
      }

      .back-button {
        background-color: #f0f0f0;
        color: #333;
        &:hover {
          background-color: #e0e0e0;
          box-shadow: 0 0 5px #ccc;
        }
      }

      .save-button {
        background-color: #4caf50;
        color: white;
        position: relative;

        &:hover {
          background-color: #45a049;
          box-shadow: 0 0 5px #3e8e41;
        }

        &:after {
          content: "✔ Saved!";
          position: absolute;
          top: -30px;
          right: 10px;
          background: #4caf50;
          color: white;
          padding: 5px 10px;
          border-radius: 3px;
          font-size: 0.9rem;
          display: none;
          opacity: 0;
          transition: opacity 0.3s;
        }

        &.show-saved:after {
          display: block;
          opacity: 1;
        }
      }

      .revert-button {
        background-color: #ff9800; // Base color for revert button
        color: white;
        position: relative;

        &:hover {
          background-color: #fb8c00; // Slightly darker on hover
          box-shadow: 0 0 5px #e67e00;
        }

        &:after {
          content: "↩ Reverted!";
          position: absolute;
          top: -30px;
          right: 10px;
          background: #ff9800;
          color: white;
          padding: 5px 10px;
          border-radius: 3px;
          font-size: 0.9rem;
          display: none;
          opacity: 0;
          transition: opacity 0.3s;
        }

        &.show-reverted:after {
          display: block;
          opacity: 1;
        }
      }

      .run-button {
        background-color: #2196f3;
        color: white;

        &:hover {
          background-color: #1e88e5;
          box-shadow: 0 0 5px #1565c0;
        }
      }
    }
}
