.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.overlay-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Grayed-out background */
    z-index: 100;
    cursor: pointer;
}

.overlay-content {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 98%;
    max-width: 100%;
    min-height: 70%;
    max-height: 98%;
    overflow: hidden;
    z-index: 200;
    display: flex;
    flex-direction: column;
}

.overlay-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

.overlay-title {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.overlay-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #555;
    transition: color 0.3s;

    &:hover {
        color: #ff4d4f;
    }
}

.overlay-body {
    display: flex;
    flex-direction: column;
    --align-items: center; /* TODO: Reconsider this */
    padding: 20px;
    overflow: auto; /* Enable vertical scrolling */
}
