/* src/components/RunScreen/RunScreen.scss */

.run-screen {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f0f2f5;
    height: 100vh;
    overflow-y: auto;
}
